.Nav {
  text-align: center;
}

.Nav-list li {
  display: inline;
}

.Nav-header {
  background-color: #582c3c;
  min-height: 8vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
