.Nav {
  text-align: center;
}

.Nav-list li {
  display: inline;
}

.Nav-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: baseline;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
